.circle {
  width: 36px;
  height: 36px;
  border: 1px solid;
  border-radius: 50%;
  background-color: #20d472;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  margin-left: 36px;
}
.circle div {
  position: relative;
  bottom: 4px;
}
.ordnum {
  width: 90px;
  height: 40px;
  background-color: #20d472;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.time {
  width: 90px;
  height: 40px;
  border-top: 1px solid #e7e7e7;
  /* margin-top: 0; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  top: 20px;
}
.remark {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 16px;
  background-color: rgba(237, 239, 243, 1);
}
.telephone {
  opacity: 50%;
}
.costs {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.46666666865348816px;
  text-align: left;
  margin: 0;
  margin-left: 11.2px;
}
.totalAmount {
  font-style: regular;
  font-size: 11px;
  vertical-align: Top;
  letter-spacing: 0.37px;
  margin-top: 18px;
  margin-left: 35px;
  margin-bottom: 2px;
  opacity: 50%;
}
.total {
  font-style: mixed;
  font-size: 20px;
  line-height: 18px;
  align-items: left;
  vertical-align: Top;
  letter-spacing: 0.67px;
  margin-top: 0;
  margin-left: 35px;
  color: #2d3a45;
  font-weight: 700;
}
.littleCircle {
  margin: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(20, 229, 228, 1);
  border-radius: 50%;
  margin-right: 8px;
}
.payment {
  margin: 0;
  height: fit-content;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.46666666865348816px;
  text-align: left;
}
.branch {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.46666666865348816px;
  text-align: left;
  width: 98px;
  height: 36px;
  margin-left: 35px;
  margin-top: 1px;
  font-weight: 600;
}
.x {
  width: 40px;
  height: 40px;
  border: 5px solid rgba(237, 239, 243, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 20px;
  position: relative;
  background-color: white;
  left: 76px;
}
.x:hover {
  cursor: pointer;
}
.tick {
  width: 40px;
  height: 40px;
  border: 5px solid rgba(237, 239, 243, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 80px;
  position: relative;
  background-color: white;
  left: 25px;
}
.tick:hover {
  cursor: pointer;
}
